<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ojt.oje.DAO.BoardDAO">
    <select id="selectBoards" resultType="com.ojt.oje.VO.boardVO" parameterType="int">
        SELECT ROW_NUMBER() over(order by wno asc) as rownum,
            wno, title, q.id, wdate, hits, contents, rcount, NAME
        FROM question AS q, userinfo AS u
        WHERE q.id=u.id
        ORDER BY rownum DESC
        LIMIT #{start_board}, #{end_board}
    </select>

    <select id="selectBoard" resultType="com.ojt.oje.VO.boardVO" parameterType="int">
        SELECT wno, title, q.id, wdate, contents, NAME
        FROM question AS q, userinfo AS u
        WHERE q.id=u.id AND q.wno=#{wno}
    </select>

    <insert id="insertBoard" parameterType="com.ojt.oje.VO.boardVO">
        INSERT INTO question(title, id, wdate, hits, contents)
        VALUES(#{title}, #{id}, #{wdate}, #{hits}, #{contents})
    </insert>

    <select id="countReply" resultType="int" parameterType="int">
        SELECT COUNT(*) FROM reply AS r, question AS q WHERE q.wno=#{wno} AND r.wno=q.wno
    </select>

    <select id="selectReply" resultType="com.ojt.oje.VO.replyVO" parameterType="int">
        SELECT wno, rno, r.id, rdate, contents, name
        FROM reply as r, userinfo as u
        WHERE r.wno=#{wno} AND r.id=u.id
        order BY rno DESC
        LIMIT #{start_reply}, #{end_reply}
    </select>

    <insert id="insertReply" parameterType="com.ojt.oje.VO.replyVO">
        INSERT INTO reply(wno, id, rdate, contents)
        VALUES(#{wno}, #{id}, #{rdate}, #{contents})
    </insert>

    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM question
    </select>

    <update id="hitsBoard" parameterType="int">
        UPDATE question SET hits=hits+1 WHERE wno=#{wno}
    </update>

    <update id="board_replyCnt" parameterType="int">
        UPDATE question SET rcount=rcount+1 WHERE wno=#{wno}
    </update>
</mapper>
